html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fffefc;
  color: #111111;
}

#section-1 {
  width: auto;
  height: 100vh;
}

a {
  color: #e16259;
  text-decoration: none;
}

a:hover {
  color: #cc5a52;
}

.link-cta {
  margin-top: 36px;
}

#section-2 {
  width: auto;
  height: 100vh;
}

#section-3 {
  margin: 160px 0px;
}

#section-4 {
  width: auto;
  height: 100vh;
}

.paper {
  margin: 36px auto;
  width: 92%;
  padding: 60px;
  background: #ffffff;
  box-shadow: 0px 16px 64px rgba(0, 0, 0, 0.08);
}

.list-detail {
  margin-bottom: 16px;
}

.letter-content {
  margin-bottom: 24px;
}
.btn {
  padding: 12px 32px;
}

.btn-custom {
  background: #ffffff;
  border: 2px solid #000000;
  box-shadow: 4px 4px 0px #000000;
  border-radius: 6px;
}

.btn:hover {
  box-shadow: 8px 8px 0px #000000;
}

.btn:focus {
  box-shadow: 1px 1px 0px #000000;
}

#section-5 {
  height: 100vh;
}

.img-snmptn {
  max-width: 56%;
  height: auto;
}

.cake-photo {
  width: 240px;
  height: 240px;
}

.postman-photo {
  width: 356px;
  height: 200px;
}

.github-button {
  margin: 120px 0px;
}

.birthday-flex {
  gap: 16px;
}
